.icon-rds-research-small {
    background-image: url("../img/research-black-small.svg");
}

.icon-rds-research {
    background-image: url("../img/research-black.svg");
}

.icon-rds-research-white {
    background-image: url("../img/research-white.svg");
}

#content {
    height: 100%;
}

#owncloud-rds-app {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
